.cronometro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #fff;
    background: red;
    padding: 0 0 30px 0;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 auto;
    width: 80%;
    
}

.cronometro div {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.cronometro :nth-child(1)::before {
    content: "Dias";
    position: absolute;
    bottom: -20px;
    font-size: 0.8rem;
}
.cronometro :nth-child(2)::before {
    content: "Horas";
    position: absolute;
    bottom: -20px;
    font-size: 0.8rem;
}
.cronometro :nth-child(3)::before {
    content: "Minutos";
    position: absolute;
    bottom: -20px;
    font-size: 0.8rem;
}
.cronometro :nth-child(4)::before {
    content: "Segundos";
    position: absolute;
    bottom: -20px;
    font-size: 0.8rem;
}

@media screen and (max-width: 530px) {
    .cronometro {
        flex-direction: column;
        gap: 25px;
    }
}
