.cronometro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #fff;
    background: red;
    padding: 30px 10px;
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
}

.cronometro div{
   margin: 0 auto;
   position: relative;
}

/* .cronometro :nth-child(1)::before{
    content: 'Dias';
    position: absolute;
    bottom: -20px;
    font-size: .8rem;
    margin: 0 auto;
}
.cronometro :nth-child(2)::before{
    content: 'Horas';
    position: absolute;
    bottom: -20px;
    font-size: .8rem;
}
.cronometro :nth-child(3)::before{
    content: 'Minutos';
    position: absolute;
    bottom: -20px;
    font-size: .8rem;
}
.cronometro :nth-child(4)::before{
    content: 'Segundos';
    position: absolute;
    bottom: -20px;
    font-size: .8rem;
} */